/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;

  background-color: #f4f4f4 !important;
}

.headerLinks {
  color: white !important;
}

.navbar .navbar-expand-sm {
  background-image: linear-gradient(90deg, #3e53a4 0, #a03f9b 50%, #cf0989 100%);
}
